*{
    box-sizing: border-box;
}

.container {
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.loading__author {
    font-weight: normal;
    font-size: 0.9rem;
    color: rgba(189, 189, 189, 1);
    margin: 0.6rem 0 2rem 0;
    display: block;
}

.loading {
    width: 100%;
    line-height: 1.4;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.loading__anim {
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    border: 10px solid rgba(189, 189, 189, 0.25);
    border-left-color: rgba(3, 155, 229, 1);
    border-top-color: rgba(3, 155, 229, 1);
    border-radius: 50%;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    to {
        transform: rotate(1turn);
        animation: rotate 600ms infinite linear;
    }
}

#movies {
    justify-content: space-evenly;

}

.card {
    width: 30%;
    display: inline-flex;
}

.footer {
    text-align: center;

}

body {
    background-image: url("../img/theater background.jpg");
}
